
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
.divider{
    display: flex;
    justify-content: center;
    align-items: center;
}
.divider .square {
    height: 15px;
    width: 15px;
    border: 3px solid black;
    transform: rotate(45deg);
    margin: 0 7px;
  }
  .divider .line {
    width: 50px;
    height: 2px;
    background: black;
  }
  body{
    font-family:  Arial, sans-serif;
}
@font-face {
    font-family: "Roboto";
    src: url("assets/fonts/Roboto-Black.ttf");
}
@font-face {
    font-family: "RobotoLight";
    src: url("assets/fonts/Roboto-Light.ttf");
}
.container{
    width:100%;
    text-align: center;
    margin-top:20px;
}
header{
    color:grey;
    text-align: center;
    margin: 0 auto;
}
header p span{
    border-top: 4px solid gray;
    border-bottom: 4px solid grey;
    border-left: 4px solid grey;
    padding-left:3px;
    color:orange;  
}
header p{
    font-family: Roboto;
    font-size: xx-large;
    padding-bottom: 10px;
}
.menu{
    background-color: skyblue;
    color:white;
    font-weight: bold;
    width:90%;
    text-align:center;
    margin: 0 auto; 
}
.menu ul li{
    padding: 10px;
    list-style-type: none;
}
.menu ul li a{
    text-decoration: none;
    color:white;
}
.backgroundImage{
    background-image: url("assets/images/banner3.jpg");
    width:100%;
    background-size: cover;
    margin-top: 25px;
    display:flex;
    flex-direction: column;
}
.backgroundImage h1{
    margin: 10px auto 50px auto;
    color:white;
    width:90%;
    padding-top:100px;
    font-family: RobotoLight;
}
.button {
    border: none;
    background-color:rgb(23, 132, 200);
    font-weight: normal;
    font-size: large;
    border-radius: 20px;
    color: white;
    width: 120px;
    padding: 10px 0px;
    margin-bottom: 100px;
}
.main{
    margin:20px auto;
    width:90%;
}
.image1{
    width:250px;
}

.main h3{
    color:skyblue;
    text-align: left;
    font-family: RobotoLight;
    font-size: 25px;
    text-transform: capitalize;
    padding: 20px 0px;

}
.main p{
    text-align:left;
    padding: 10px 0;
}
.main ul{
    width:90%;
    text-align:left;
    padding: 10px 0 10px 20px;
}
.main li{
    list-style-image: url("assets/images/arrow_bullet.png");
    padding: 10px 0;
}

.image img{
    width:100%;
}
iframe{
    width:100%;
}
.comments{
    overflow: hidden;
    width: 90%;
    background-color:lightskyblue;
    margin: 10px auto;
    color:white;
    padding: 10px;
}
.profile{
    border-radius: 50%;
    border: 3px solid white;
    padding: 2px;
    float:left;
   
}
.comments h5{
    color:black;
    margin-top:20px;
    text-align:left;
    font-size: 25px;
    padding-left:15%;
}
.comments p{
    clear:both;
   text-align:left;
  font-size:20px;
  padding-top:20px;
}
.stars{
    float:left;
    padding-left: 3%;
    width:25%;
    font-size: 15px;
    font-weight: bold;
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    
   
}
.section2{
    margin: 70px auto 0 auto;
  
}
.heading{
    margin:0 auto;
}
.contactus {
    float: left;
    width: 50%;
    background-color:rgb(59, 218, 125);
    margin-top: 30px;
    color: white;
    font-size: 1.25rem;
    height: 260px;
}
.contactus h5 {
    font-size: 1.75rem;
    padding: 30px 0 30px 50px;
    margin: 0 auto;
}
.contactus img {
    padding: 10px;
    float: left;
    clear:both;
}
.contactus p {
    padding: 20px;
}

.conectus {
    width: 50%;
    background-color: rgb(241, 137, 154);
    margin-top: 30px;
    color: white;
    font-size: 30px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    height: 260px;
   
}
.conectus h5 {
    font-size: 30px;
    padding: 30px 0;
    margin: 0 auto;
}
.row{
    display: flex;
}
.row img {
    width: 50px;
    flex: 25%;
    padding: 5px;
 
    
}


.address {
    width: 50%;
    background-color: rgb(23, 81, 156);
    float: left;
    height: 260px;
    color: white;
    font-size: 1.25rem;
}
.address h5 {
    font-size:30px;
    padding: 30px 0;
    margin: 0 auto;
}
.house {
    float: left;
    width: 50%;
    background-color: lightblue;
}
.section3 {
    margin: 60px 0px 0px 0px;
}
input{
    display:block;
    margin:10px auto;
    width:90%;
    padding: 10px 0 10px 5px;
}
textarea{
    width:90%;
    padding: 10px 0 10px 5px;

}
.submit{
    width:25%;
    float:left;
    margin: 20px 0 10px 5%;
    font-weight: bold;
    font-size: 20px;
    background-color: orange;
    border:none;
    color:white;
}
footer{
    clear:left;
    background-color: black;
    color:white;
    width:100%;
    margin:100px 0px 20px 0px;
}
.links ul{
    list-style-type: none;
    display:flex;
    flex-direction:row;
    justify-content: center;
    flex-wrap: wrap;
}
.links ul li{
    padding: 40px 10px;
    font-weight: bold;
}
footer p{
    padding: 20px 0 50px 0;
}
.bigger{
    font-size: 23pt;
}


@media only screen and (min-width: 768px){
  
 header{
     background-image: url("assets/images/banner3.jpg");
     width:100%;
     background-size:cover;
 }
 .backgroundImage{
   background-image: none;
   margin-top:25px;
   display:flex;
   flex-direction: column;  
 }
 header p{
     text-align:left;
     padding: 20px 0 0 20px;
     color:white;
     float:left;
     }

 header p span{
         border: white solid 4px;
         border-right:none;
     }
 .menu{
         float:right;
        background-color: transparent;
         margin-top:-40px;
     }
 .menu ul{
         display:flex;
         align-items:flex-start;
         justify-content: flex-end;
     }
 .title{
         margin-bottom: 25px;

     }
 .text1{
         float:left;
         width:50%;
        
     }
.image{
         width:50%;
         float:left;
     }
.section1{
         display:flex;
         flex-wrap:wrap;
         justify-content: flex-start;
         
     }
.comments{
         width:45%;
     }
.talks{
        margin-left: 2.5%;


     }
input{
         width:29.8%;
         display:inline-block;
         position:relative;
     }

     .divider .line {
        width: 80px;
        height: 2px;
        background: black;
      }
 .container{
         margin-top: -3px;
     }
 }
  

 @media only screen and (min-width: 1200px){

.article {
        display: flex;
        justify-content: space-around;
    }
 .main h3{
        padding-top: 0;
    
    }
.article div{
        width:30%;
    }
.article .text1{
        width:100%;
    
    }
.section1{
        display:flex;
        flex-wrap:nowrap;
        justify-content: space-evenly;
    
    }
.comments{
        width:30%;
    }
.talks{
        position:relative;
       left:-1%;
    }
.contactus{
        float:left;
        width:25%;
    }
    
    
.conectus{
        width:25%;
        float:left;
    }
.address{
        width:25%;
        
        margin-top: 30px;
    }
.house{
        width:25%;
       
        margin-top:30px;
    }
.divider .line {
        width: 120px;
        height: 2px;
        background: black;
      }
.stars{
        float:left;
        padding-left: 3%;
        width:30%;
        font-size: 22px;
        font-weight: bold;
        display:flex;
        flex-direction: row;
        flex-wrap: nowrap;
        
       
    }
    .submit{
        width:10%;
    }
    
 }
    
    

